$symbol-lsaquo: "\2039";
$symbol-rsaquo: "\203A";
$symbol-laquo: "\00ab";
$symbol-raquo: "\00bb";
$symbol-mdash: "\2014";
$symbol-ndash: "\2013";
$symbol-hyphen: "\2010";
$symbol-bull: "\2022";
$symbol-whibull: "\25E6";
$symbol-hellip: "\2026";
$symbol-vellip: "\22EE";
$symbol-midhellip: "\22EF";
$symbol-gt: "\003e";
$symbol-lt: "\003c";
$symbol-times: "\00D7";
$symbol-bigtimes: "\2715";
$symbol-utri: "\25b2";
$symbol-dtri: "\25bc";
$symbol-ltri: "\25c0";
$symbol-rtri: "\25b6";
$symbol-ustri: "\25b4";
$symbol-dstri: "\25be";
$symbol-lstri: "\25c2";
$symbol-rstri: "\25b8";
$symbol-diamond: "\25c6";
$symbol-fisheye: "\25c9";
$symbol-bullseye: "\25ce";
$symbol-circle: "\25cf";
$symbol-whitecircle: "\25cb";
$symbol-square: "\25a0";
$symbol-whitesquare: "\25a1";
$symbol-ssquare: "\25aa";
$symbol-swhitesquare: "\25ab";